BACKEND_PUBLISH_PORT=9100
DAEMON_LOG_LEVEL=info
BACKEND_LOG_LEVEL=info
BACKEND_AUTH_MODE=none
BACKEND_AUTH_USERNAME=admin
BACKEND_AUTH_PASSWORD=change-me
BACKEND_AUTH_TOKEN=
BACKEND_AUTH_PROXY_HEADER=x-forwarded-user
